<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
  <h1 id="title">Word Counting</h1>
	<textarea v-on:keyup="result" v-model="input" name="input" id="input" cols="50" rows="3"></textarea>
	<br/>
  <p class="invalid" v-if="input === ''">You need to enter a text</p>
	<label id="numbers-count" v-bind:class="{'text-valid': Publish}">{{Counter}} words number</label>
  <p class="owner">by Anne Izaura</p>
</div>


<script>
  var app = new Vue({
    el: '#app',
    data: {
      input: 'Lorem ipsum',
    },
    computed: {
      Counter(){
        var vm = this,filecont = vm.input;
            return vm.skip_html && (filecont = filecont.replace(/<\S[^><]*>/gi, "")),
          vm.input.match(/\w+/g) ? vm.input.match(/\w+/g).length : 0;
      },
    },
    methods: {
      result: function() {
        this.Publish = this.Counter > 4;
      }
    }
  })
</script>

<style>
  body {
    background: #D3E4CD;
    height: 100vh;
    width: 100vw;
    font-family: Roboto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #input {
    font-family: Roboto;
    padding: 10px;
    border-radius: 5px;
    border: #E2E2E2;
  }

  #numbers-count {
    font-size: 0.8em;
    background: #99A799;
    margin-top: 1rem;
    position: absolute;
    float: left;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    display: flex;
  }

  #title {
    margin-bottom: 1rem;
    padding: 0;
  }

  .owner {
    margin-bottom: 1rem;
    padding: 0;
    color: #99A799;
    font-size: 0.8em;
    float: right;
    padding: 5px 10px;
  }

  .invalid {
    color: red;
  }
</style>